<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        比赛记录
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      
      <!-- Main row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>发起人</th>
              <th>开始时间</th>
			  <th>结束时间</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
			
			<% for match in @matches %>
			<tr>
				<td><a href='<%=account_info_path+"/"+match.user.id.to_s%>'><%=match.user.nickname%></a></td>
				<td><%=match.created_at.strftime('%Y-%m-%d %H:%M')%></td>
				<td><%=match.updated_at.strftime('%Y-%m-%d %H:%M')%>%</td>
				<td><a class='btn btn-primary'  href='<%=match_showdetail_path+"/"+match.id.to_s%>'>查看详情</a>
				</td>
				
				
			</tr>
			<%end%>
			

            </tbody>
          </table>
        </div>
        <!-- /.col -->
		

      </div>
      <!-- /.row -->
	  
	  

	
	
    </section>
    <!-- /.content -->
  </div>
  <!-- 
  {include file="footer" /}-->

  
</div>

